<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{layout.email.title}">The Email Title</title>
<meta charset="UTF-8" />
<meta th:each="metatag : ${metatags}" th:name="${metatag.name}" th:content="${metatag.content}" />
</head>

<body>
<div class="container">
	<div layout:fragment="content">
		<h1>Static content for prototyping purposes only</h1>
	</div>
</div>
</body>

</html>
