<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{layout.page.title}">The Page Title</title>
<meta charset="UTF-8" />
<meta th:each="metatag : ${metatags}" th:name="${metatag.name}" th:content="${metatag.content}" />
<link rel="shortcut icon" type="image/x-icon" media="all" href="/favicon.ico" th:href="@{/favicon.ico}" />
<link th:replace="fragments/stylesheet :: cssImports" />
</head>

<body>
<div class="container">
	<div layout:fragment="content">
		<h1>Static content for prototyping purposes only</h1>
	</div>
</div>

<div th:replace="fragments/javascript :: jsImports">JavaScript imports</div>
</body>

</html>
