<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout/emptyPageLayout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title th:text="#{error.400.title}">Title</title>
</head>

<body>
	<div layout:fragment="content">

		<div class="jumbotron text-center">
			<h1>
				<i class="fa fa-question-circle text-warning"></i> <span th:text="#{error.400.title}" th:remove="tag">Error</span>
			</h1>
			<p class="lead" th:text="#{error.400.message}">Message</p>
			<p>
				<a th:href="@{/home}" href="/" class="btn btn-default btn-lg" th:text="#{error.common.button.homepage}">Button text</a>
			</p>
		</div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<h2 th:text="#{error.common.what-happenend}">What happened?</h2>
				<p class="lead" th:text="#{error.400.explanation}">Explanation text.</p>
			</div>
			<div class="col-md-6"></div>
		</div>

	</div>
</body>

</html>
