<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" th:href="@{/home}" th:text="#{header.sitename}">Site name</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search" />
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-expanded="false"><span th:text="#{header.language}" th:remove="tag">Language</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a th:href="@{${#httpServletRequest.requestURI}(locale=de)}" href="?locale=de" th:text="#{header.language.de}">Deutsch</a></li>
							<li><a th:href="@{${#httpServletRequest.requestURI}(locale=en)}" href="?locale=en" th:text="#{header.language.en}">English</a></li>
							<li><a th:href="@{${#httpServletRequest.requestURI}(locale=es)}" href="?locale=es" th:text="#{header.language.es}">Spanish</a></li>
						</ul></li>
					<li sec:authorize="isAnonymous()" th:class="${nav_active_login}"><a href="/account/login"
						th:href="@{/account/login}" th:text="#{header.login}">Log in</a><span class="sr-only" th:if="${nav_active_login}"> (current)</span></li>
					<li sec:authorize="isAnonymous()" th:class="${nav_active_signup}"><a href="/account/signup"
						th:href="@{/account/signup}" th:text="#{header.signup}">Sign up</a><span class="sr-only" th:if="${nav_active_signup}"> (current)</span></li>
					<li sec:authorize="isAuthenticated()" th:class="${nav_active_account}"><a href="/account" th:href="@{/account}"><i class="glyphicon glyphicon-user"></i>
						<span th:text="#{header.account}" th:remove="tag">Account</span></a><span class="sr-only" th:if="${nav_active_account}"> (current)</span></li>
					<li sec:authorize="isAuthenticated()"><a href="#" id="logoutBtn" th:text="#{header.logout}">Log out</a>
						<form action="#" id="logoutForm" th:action="@{/account/logout}" method="post"></form></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</header>
</body>
</html>
