<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="cssImports" th:remove="tag">
<link rel="stylesheet" media="screen" th:href="@{'/webjars/bootstrap/' + ${cssVersion} + '/css/bootstrap.min.css'}" th:with="cssVersion=${@environment.getProperty('info.versions.bootstrap')}"
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<link rel="stylesheet" media="screen" th:href="@{'/webjars/font-awesome/' + ${cssVersion} + '/css/font-awesome.min.css'}" th:with="cssVersion=${@environment.getProperty('info.versions.font-awesome')}"
	href="http://cdn.jsdelivr.net/webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" href="../../static/css/style.css" />
</head>

<body>
</body>
</html>
