<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout/pageLayout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title th:text="#{${title}}">Title</title>
</head>

<body>
<div layout:fragment="content" class="account-form-container">

	<form action="#" th:action="@{/account/login}" method="post" role="form">
		<div th:if="${infoMsg}" class="form-group" th:text="#{${infoMsg}}">Info message</div>
		<div th:if="${param.error} and not(${param.r} and ${param.r[0]} == 0)" class="form-group">
			<span class="text-danger" th:text="#{account.login.invalid}">Invalid username or password.</span>
			<span th:if="${param.r} and ${param.r[0]} &gt; 0" class="text-warning" th:text="#{account.login.remaining(${param.r[0]})}">Remaining attempts.</span>
		</div>
		<div th:if="${param.error} and ${param.r} and ${param.r[0]} == 0" class="form-group bg-danger text-center">
			<div th:text="#{account.login.locked}">Account locked.</div>
			<div><a href="#" th:href="@{/account/unlock}" th:text="#{account.login.unlock}">Unlock.</a></div>
		</div>
		<div th:if="${param.logout}" class="form-group" th:text="#{account.login.logout}">You have been logged out.</div>

		<div class="form-group">
			<label for="username" th:text="#{account.login.username.label}" class="sr-only">Username</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
				<input type="text" id="username" name="username" class="form-control" th:placeholder="#{account.login.username.placeholder}" required="required" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label th:for="password" th:text="#{account.login.password.label}" class="sr-only">Password</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input type="password" id="password" name="password" class="form-control" th:placeholder="#{account.login.password.placeholder}" required="required" />
			</div>
		</div>
		<div class="form-group">
			<div class="checkbox">
				<label><input type="checkbox" name="remember-me" id="remember-me" checked="checked" /> <span th:text="#{account.login.rememberme.label}" th:remove="tag">Remember me</span></label>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="form-control center-30" th:text="#{account.login.submit}">Submit</button>
		</div>
	</form>

	<div class="bg-info small text-center">
		<div th:text="#{account.login.passwordreset}">Password reset text.</div>
		<div><a href="#" th:href="@{/account/password/reset}" th:text="#{account.login.passwordreset.link}">Password reset</a></div>
	</div>
</div>
</body>

</html>
